.content {
  width:px2rem(710px);
  margin:0 auto;
  padding:0 px2rem(20px);
  margin-bottom: px2rem(120px);
}
.info {
  padding-top:px2rem(60px);
  margin-bottom:px2rem(60px);
}
.des {
  color:#fff;
  font-weight: bold;
  text-shadow: 0 0 px2rem(15px) rgba(0,0,0,1);
  padding:0 px2rem(20px);
  font-size: px2rem(27px);
  text-align: center;
  padding-left:px2rem(40px);
}
