.content {
  width:px2rem(710px);
  margin:0 auto;
  padding:0 px2rem(20px);
  margin-bottom: px2rem(120px);
}
.info {
  padding-top:px2rem(60px);
  margin-bottom:px2rem(60px);
}
.des {
  text-align: center;
  color:#df5000;
  font-size: px2rem(27px);
}
