@font-face {
  font-family:P2peyeSelfFont;
  font-weight: bold;
  src:url("../styles/font/DINAlternateBold.ttf");
}
.ui-vote {
  padding-top: px2rem(40px);
  font-size: px2rem(30px);
  color:#fff;
  .ranglimit {
    padding: 0 px2rem(5px);
    display: flex;
    justify-content: space-between;
    color: #dab567;
  }
  .ui-tit {
    height:px2rem(60px);
    line-height: px2rem(60px);
    text-align: center;
    font-size: px2rem(40px);
    text-shadow: 0 0 px2rem(15px) rgba(0,0,0,1);
  }
  .float-index {
    width:px2rem(650px);
    height:px2rem(220px);
    position: fixed;
    bottom: px2rem(30px);
    left:px2rem(50px);
    text-shadow: 0 0 px2rem(20px) rgba(0,0,0,2);
  }
  .vote-info {
    width:px2rem(650px);
    height:px2rem(270px);
    padding-top: px2rem(20px);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    margin:0 auto;
    background: -webkit-linear-gradient(180deg, #a067ef, #f681e4);
    background: -o-linear-gradient(180deg, #a067ef, #f681e4);
    background: -moz-linear-gradient(180deg, #a067ef, #f681e4);
    background: linear-gradient(180deg, #a067ef, #f681e4);
  }
  .currange {
    width: 100%;
    height:px2rem(140px);
    text-align: center;
    font-size: px2rem(180px);
    font-family:"P2peyeSelfFont" ;
    position: absolute;
    bottom: px2rem(50px);
    left:0;
  }
  .vote-people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vote-people-info {
    height:px2rem(90px);
    padding-top: px2rem(20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .vote-range {
    padding:0 px2rem(25px);
    margin-bottom: px2rem(20px);
  }
  .vote-num {
    display: flex;
    justify-content: flex-start;
    margin-bottom:px2rem(40px);
    .value {
      margin-top:px2rem(-15px);
      width:px2rem(110px);
      height:px2rem(50px);
      line-height: px2rem(70px);
      font-size: px2rem(40px);
      padding-bottom: px2rem(5px);
      border-bottom: 1px solid #fff;
      color: #ff9933;
      input{
        color: #ff9933;
        border:none;
        outline: none;
        -webkit-appearance: none;//去掉默认样式
      }
    }

  }
  .face {
    width: px2rem(60px);
    height: px2rem(60px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #947ee8;
    margin-right:px2rem(20px);
    position: relative;
  }
  .face-icon {
    position: absolute;
    right: px2rem(-40px);
    top:px2rem(-20px);
  }
  .face-icon-new{
    width:px2rem(60px);
    height:px2rem(50px);
    background: url("../assets/new-icon.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .face-icon-old{
    width:px2rem(60px);
    height:px2rem(50px);
    background: url("../assets/old-icon.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .vote-history {
    width:px2rem(650px);
    margin:0 auto;
    -webkit-box-shadow: 0 0 px2rem(100px) rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 px2rem(100px) rgba(0,0,0,0.7);
    box-shadow: 0 0 px2rem(100px) rgba(0,0,0,0.7);
    background: -webkit-linear-gradient(180deg, #a067ef, #f681e4);
    background: -o-linear-gradient(180deg, #a067ef, #f681e4);
    background: -moz-linear-gradient(180deg, #a067ef, #f681e4);
    background: linear-gradient(180deg, #a067ef, #f681e4);
    padding:px2rem(20px);
    -webkit-border-radius: px2rem(8px);
    -moz-border-radius: px2rem(8px);
    border-radius: px2rem(16px);
    margin-bottom:px2rem(20px);
    .face {
      width: px2rem(90px);
      height: px2rem(90px);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #947ee8;
      margin-right:px2rem(20px);
      position: relative;
    }
    .face-icon {
      position: absolute;
      right: px2rem(-15px);
      top:px2rem(-5px);
    }
    .face-icon-new{
      width:px2rem(38px);
      height:px2rem(28px);
      background: url("../assets/new-icon.png") no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
    }
    .face-icon-old{
      width:px2rem(38px);
      height:px2rem(28px);
      background: url("../assets/old-icon.png") no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
    }
    .history-scroll {
      height:px2rem(600px);
      overflow-y: scroll;
    }
    .vote-history-item {
      display: flex;

      justify-content: flex-start;
      align-items: center;
      margin-bottom:px2rem(20px);
      .num {
        width:px2rem(550px);
        text-align: left;
      }
      .name {
        display: flex;
        justify-content: space-between;
      }
      .percent {
        align-self: center;
      }
    }
    .vote-history-item+.vote-history-item{
      margin-top:px2rem(20px);
    }
  }

}
