.ui-waitvote {
  font-size: 20px;
  .ui-Candidate {
    width: 1200px;
    margin:0 auto;
    background-color: #ffffff;
    padding-bottom: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-bottom:20px;
    position: relative;
    min-height: 360px;
    box-shadow: 0 2px 4px 0 rgba(7,17,27,.1);
    .ui-list {
        width: 950px;
      padding: 20px 30px 30px;
      display: flex;
      flex-wrap: wrap;
    }
    .ui-list-item {
      width:190px;
      height:50px;
      margin-bottom:10px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      display: flex;
    }
    .ui-face {
      align-items: center;
      width:50px;
      height:50px;
      background: #947ee8;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right:15px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  /* 按下的效果改变了 margin-top 和 border-bottom-width */
  .enter-key {

    width: 215px;
    height: 100px;
    line-height: 110px;
    text-align: center;
    background-color: #ffce91;
    border-bottom: 20px solid #e04786;
    border-radius: 40px;
    transition: all .05s ease-out;
    font-size: 40px;
    color: #e04786;
    user-select: none;
    box-shadow: 5px 5px 40px rgba(100,100,100,0.6);
    cursor: pointer;
    position: absolute;
    bottom:80px;
    right:30px;
    &:active{
      margin-top: 110px;
      border-bottom-width: 10px;
      box-shadow: 5px 5px 20px rgba(100,100,100,0.6);
    }
  }
  .ui-judges {
    width:1200px;
    margin:0 auto;
    background: #ffffff;
    padding-bottom: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 16px;
    margin-bottom:20px;
    box-shadow: 0 2px 4px 0 rgba(7,17,27,.1);
    .ui-list {
        padding: 0 30px 10px;
      display: flex;
      flex-wrap: wrap;
    }
    .ui-list-item {
      width:16.66%;
      height:90px;
      margin-top: 20px;
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .ui-chair {
      width:137px;
      height:90px;
      background: url("../assets/chair.png") no-repeat center;
      background-size: 100% 100%;
    }
    .ui-voted {
      position: absolute;
      top:50%;
      left:50%;
      width:100px;
      height:100px;
      margin-left:-50px;
      margin-top:-50px;
      background: url("../assets/voted.png") no-repeat center;
      background-size: cover;
    }
    .ui-name {
      line-height: 62px;
      color: #fff;
      font-size: 24px;
    }
  }
  .ui-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .countList {
    width:500px;
    height:500px;

    //position: absolute;
    //right: 0;
    //top:0;
  }
  .fixd {
    position: fixed;
    right:0;
    top:100px;
  }
  .static {
    position: static;
  }
}
